:root {
  --Pale_blue: hsl(225, 100%, 94%);
  --Bright_blue: hsl(245, 75%, 52%);

  --Very_pale_blue: hsl(225, 100%, 98%);
  --Desaturated_blue: hsl(224, 23%, 55%);
  --Dark_blue: hsl(223, 47%, 23%);

}

/* - Mobile: 375px - Desktop: 1440px */

html {
  box-sizing: border-box;
  width: 1440px;
  font-family: 'Red Hat Display',
    serif;
  font-size: 16px;

}


body {
  background-image: url(images/pattern-background-desktop.svg);
  background-color: var(--Pale_blue);
}

@media screen and (max-width: 375px) {
  body {
    background-image: url("images/pattern-background-mobile.svg");
  }
}

img {
  max-width: 100%;
  display: block;
}

div {
  margin: auto;
  display: block;
}

.main {
  /* padding: 0; */
  margin: 0;
}

.card {
  background-color: var(--Very_pale_blue);
  display: block;
  /* align-content: center; */
  margin: auto;
  overflow: hidden;
  width: 360px;
  height: 600px;
  border-radius: 8px;
}

.card__img {
  position: relative;
  /* width: 70%; */
  margin-top: 0;
}

.card__order {
  font-size: 1.8em;
  margin-top: 40px;
}

.card__text {
  text-align: center;
  padding: 0 60px;
  font-size: 0.9em;
  opacity: 0.6;
}


.change {
  text-decoration: none;
}

.change a {
  color: blue;
  /* text-decoration: none; */

}

.title {
  align-items: center;
  text-align: center;
  justify-content: center;
}

.plan__proceso-change {
  background-color: var(--Very_pale_blue);
  display: flex;
  /* align-items: center; */
  align-content: space-around;
  width: 85%;
  /* border-radius: 10px; */
  padding: 0 22px;
}

.proceso p {
  display: flex;
  align-items: flex-start;
  justify-items: left;
  text-align: left;
}

.plan__img {
  background-color: var(--Pale_blue);
  border-radius: 50%;

}

.plan__anual {
  font: bold;
  text-align: left;
}


.div__button {
  padding: 25px;
  text-align: center;

}

.button {
  background-color: var(--Bright_blue);
  width: 90%;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  font: bold;
  font-size: 0.9em;
  color: var(--Very_pale_blue);
  /* color: white; */
  box-shadow: 5px 15px 5px 0px var(--Very_pale_blue);
}

.div__cancel {
  /* padding: 20px; */
  text-align: center;
}

.cancel {
  text-decoration: none;
  text-align: center;
  color: var(--Bright_blue);
}

.attribution {
  text-align: center;
}